# Arquivos de sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python (se usar)
__pycache__/
*.pyc
.env
.venv

# Artefatos
mlruns
mlartifacts

# Node (se usar)
node_modules/
dist/

# Arquivos do Google Drive
desktop.ini

#Arquivos Auxiliares
PassoAPassoGit.txt

#Base de dados
data/analytics/database.db
*.db

#Kaggle API Key
kaggle.json